.Rproj*
results/raw_exports
paper_iit_pt.Rproj
*.jpg
.Rdata
.Rhistory
codes/hmm_bw0.sh
codes/main_template.R
drac_logs
results/*.Rds
results/*.txt
Rpackages
results/.~lock.find_temps.csv\#
results/.~lock.simulation_details_highd.csv\#
results/.~lock.simulation_details_lowd.csv\#
inputs/.~lock.find_temps.csv\#
inputs/.~lock.simulation_details_highd.csv\#
*.sh
