results/raw_exports
*.jpg
codes/hmm_bw0.sh
codes/main_template.R
drac_logs
results/*.Rds
results/*.txt
Rpackages
results/.~lock.find_temps.csv\#
results/.~lock.simulation_details_highd.csv\#
results/.~lock.simulation_details_lowd.csv\#
inputs/.~lock.find_temps.csv\#
inputs/.~lock.simulation_details_highd.csv\#
*.sh
inputs/mode_matrix/
inputs/simulation_details_highd_bk.csv